#!/bin/bash

set -eufo pipefail

{{ $brews := list
     "neovim"
     "python"
     "chezmoi"
     "yabai"
     "skhd"
     "curl"
     "wget"
     "fd"
     "ffmpeg"
     "git"
     "jq"
     "node"
     "ripgrep"
     "tmux"
     "htop"
     "neofetch"
     "bitwarden-cli"
     "tree" -}}

{{ $casks := list
     "wezterm"
     "arc"
     "bitwarden"
     "1password"
     "1password-cli"
     "google-chrome"
     "karabiner-elements"
     "obsidian"
     "amethyst"
     "onedrive"
     "eurkey"
     "intellij-idea"
     "nvidia-geforce-now" 
     "anki"
     "iina"
     "scroll-reverser"
     "vmware-fusion"
     "slack"
     "raycast" -}}


brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF

# Install or update fzf
$(brew --prefix)/opt/fzf/install
