[".config/tmux/plugins/tpm"]
    type = "archive"
    url = "https://github.com/tmux-plugins/tpm/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"

{{- if eq .chezmoi.os "linux-ubuntu" }}

[".local/bin/nvim"]
    type = "file"
    url = "https://github.com/neovim/neovim/releases/download/stable/nvim.appimage"
    refreshPeriod = "672h"
    executable = true

[".local/bin/fzf"]
type = "archive"
url = "https://github.com/junegunn/fzf/releases/latest/download/fzf-linux_{{ if eq .chezmoi.arch "arm64" }}arm64{{ else }}amd64{{ end }}.tar.gz"
stripComponents = 0
include = ["fzf"]
refreshPeriod = "168h" # weekly
executable = true

{{- end }}
