{{- /* defaults */ -}}
{{- $hostname := .chezmoi.hostname -}}
{{- $headless := not stdinIsATTY -}}
{{- $ephemeral := false -}}
{{- $personal := false -}}
{{- $email := "alexanderbuescher@outlook.com" -}}

{{/* detect GitHub Codespaces, VSCode devcontainers, CI */}}
{{- if or (env "CODESPACES") (env "REMOTE_CONTAINERS_IPC") (env "CI") -}}
  {{- $ephemeral = true -}}
  {{- $headless = true -}}
{{- end -}}

{{- /* prompt only when interactive and not pre-marked ephemeral */ -}}
{{- if not $headless -}}
  {{- $personal  = promptBoolOnce . "personal"  "Is this a personal machine" -}}
  {{- if not $personal -}}
   {{- $email = promptStringOnce . "email"   "Email address" -}}
  {{- end -}}
{{- end -}}

data:
  personal: {{ $personal }}
  email: {{ $email | quote }}
  headless: {{ $headless }}
  ephemeral: {{ $ephemeral }}
  hostname: {{ $hostname | quote }}
