[".config/tmux/plugins/tpm"]
    type = "archive"
    url = "https://github.com/tmux-plugins/tpm/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"

{{- if eq .chezmoi.os "linux" }}

[".local/bin/nvim"]
    type = "file"
    url = "https://github.com/neovim/neovim/releases/download/stable/nvim.appimage"
    refreshPeriod = "672h"
    executable = true

[".local/bin/zoxide"]
    type = "archive-file"
    executable = true
    path = "zoxide"
    refreshPeriod = "168h"

    {{- if eq .chezmoi.arch "amd64" -}}
    url = {{ gitHubLatestReleaseAssetURL "ajeetdsouza/zoxide" "zoxide-*-x86_64-unknown-linux-musl.tar.gz" | quote }}
    {{- else if eq .chezmoi.arch "arm64" -}}
    url = {{ gitHubLatestReleaseAssetURL "ajeetdsouza/zoxide" "zoxide-*-aarch64-unknown-linux-musl.tar.gz" | quote }}
    {{- else -}}
    {{- end }}

[".local/bin/fzf"]
    type = "archive-file"
    executable = true
    path = "fzf"
    refreshPeriod = "168h"
    {{- if eq .chezmoi.arch "amd64" -}}
    url = {{ gitHubLatestReleaseAssetURL "junegunn/fzf" "fzf-*-linux_amd64.tar.gz" | quote }}
    {{- else if eq .chezmoi.arch "arm64" -}}
    url = {{ gitHubLatestReleaseAssetURL "junegunn/fzf" "fzf-*-linux_arm64.tar.gz" | quote }}
    {{- else -}}
    {{- end }}

[".local/bin/starship"]
    type = "archive-file"
    executable = true
    path = "starship"
    refreshPeriod = "168h"
    {{- if eq .chezmoi.arch "amd64" -}}
    url = {{ gitHubLatestReleaseAssetURL "starship/starship" "starship-x86_64-unknown-linux-gnu.tar.gz" | quote }}
    {{- else if eq .chezmoi.arch "arm64" -}}
    url = {{ gitHubLatestReleaseAssetURL "starship/starship" "starship-aarch64-unknown-linux-gnu.tar.gz" | quote }}
    {{- else -}}
    {{- end }}

{{- end }}
