{{- if eq .chezmoi.os "linux" -}}
#!/usr/bin/env bash

packages=(
    {{ range $package := .packages.apt.common.packages }}
    "{{ $package }}"
    {{- end }}
    {{- if not .personal }}
    {{ range $package := .packages.apt.work_computer.packages }}
    "{{ $package }}"
    {{- end }}
    {{- end }}
    {{- if .personal }}
    {{ range $package := .packages.apt.personal_computer.packages }}
    "{{ $package }}"
    {{- end }}
    {{- end }}
)

export DEBIAN_FRONTEND=noninteractive UCF_FORCE_CONFNEW=1 NEEDRESTART_MODE=a

SUDO=""
if [ "$(id -u)" -ne 0 ] && command -v sudo >/dev/null 2>&1; then
  SUDO="sudo -E"
fi

$SUDO apt-get update -y
$SUDO apt-get install -y -q \
  -o Dpkg::Options::="--force-confnew" \
  -o Dpkg::Options::="--force-confdef" \
  --no-install-recommends \
  "${packages[@]}"

{{- end -}}